.app.light{
	--bg-color: #cccdd8;
	--inverted-bg-color: #0b136e;

	--primary-color: #3c4dbe;
	--secondary-color: #9bd7af;

	--inverted-primary-color: #09a02fdb;
	--inverted-secondary-color: #518562;
}